[submodule "resources/assets/simple-icons"]
	path = resources/assets/simple-icons
	url = https://github.com/simple-icons/simple-icons
[submodule "tests/SampleData"]
	path = tests/SampleData
	url = https://github.com/kPherox/JMA-XML-SampleData
