# Composer
/vendor

# Node
/node_modules
npm-debug.log
yarn-error.log

# Laravel 5
/public/hot
/public/storage
/storage/*.key
/.vagrant
Homestead.json
Homestead.yaml
.env
.env.testing

# IDE
/.idea
/.vscode

## macOS
.DS_Store
.AppleDouble
.LSOverride

# Coverage directory used by tools like istanbul
/coverage
